$GREEN_ACCENT_BACKGROUND: #637021;
$GREEN_ACCENT_FOREGROUND: #839C00;
$FORM_ACCENT: rgb(200,180,160);
$DARK_ACCENT: #374b5f;
$FORM_SELECT: black;
$MUTED_GREEN_COLOR: #3d4c2b;
$BRIGHT_GREEN_COLOR: #4a5e22;
$SIDEBAR_WIDTH: 300px;
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$lato: 'Lato', sans-serif;
