!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Thank you for your order, Anthony
    %p
      View your invoice here: #{@url}
