-content_for(:page_title) do
  Dashboard
  
.row-fluid
  .span12
    .hero-unit.non-index
      %h2 Dashboard
      %br/
      %p.hidden-phone

.row-fluid
  .span12
    = breadcrumbs(nil)
    %h4.title Not Found
    The resource you requested could not be found.
