-content_for(:page_title) do
  Demo Unit Sales Orders
  
-content_for(:meta_info) do
  = javascript_include_tag 'jquery.select2.js'  
  = stylesheet_link_tag    'select2.min.css'  

.row-fluid
  .span12
    .hero-unit.non-index
      %h2 Demo Unit Sales Orders
      %br/
      %p.hidden-phone
        %a.btn.btn-info.btn-large.pull-right{:href => '/sales_orders/new'} Add new order &raquo; 
.row-fluid
  .span12
    = breadcrumbs(['Sales Orders'])
.row-fluid.hidden-tablet.hidden-phone
  .span12
    %h4.title 
      =@title
    .squiggly-border
    = smart_listing_render(:sales_orders)
:javascript
  $(document).ready(function() {  
     $('.confirm').change(function(){
      $(this).closest('form').submit()
    })     
  })

:javascript
  $(document).ready(function(){
    
    $("#sales_order_search").select2({
      ajax: {
        url: "/sales_orders/search",
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
            q: params.term, // search term
            page: params.page
          };
        },
        processResults: function (data, page) {
          // parse the results into the format expected by Select2.
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data
          return {
            results: data.items
          };
        },
        cache: true
      },
      minimumInputLength: 1,
    });

    $('a.sales_order_delete').click(function() {  
      confirmation = confirm("Are you sure you want to delete this order?")
      
      if(confirmation)
      {
        $(this).closest('tr').remove()
        $.ajax({url: this.href, type: 'DELETE'})
      }
      return false
    })   
    
    $('#sales_order_search').change(function() { 
      window.location.replace("/sales_orders/" + $(sales_order_search).val())
    });        
  })
